.profileContent{
    color: white;
    display: flex;
}

.profileSide{
    border: 3px rgb(49, 49, 49) solid;
    border-bottom: none;
    width: 20%;
    text-align: center;
    height: 90%;
}

.profilePicture{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
}

.ProfileUsername{
    font-size: 2rem;
}

.ProfileFullname{
    font-size: 1.5rem;
}

.profileDetails{
    width: 80%;
    padding: 3rem;
}

.profileTitle{
    color: #e09900;
    font-size: 2rem;
}

/*#region Foglalások/Ingatlanok & személyes adatok*/
.profileProperties, .profileData{
    width: 80%;
    border: 1px rgb(49, 49, 49) solid;
    border-radius: 1rem;
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.274);
    overflow-y: auto;
    height: 20rem;
}

/*Foglalások/Ingatlanok*/
.profilePropertyCard, .profileBookingCard{
    height: 8rem;
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(49, 49, 49) solid;
    margin: 0 1rem;
    
    img{
        height: 7rem;
        width: 7rem;
        border-radius: 1rem;
        margin: 0.5rem 2rem 0 2rem; 
        object-fit: cover;
    }
    p{
        font-size: 1.5rem;
        margin: 0;
    }
    span{
        font-size: 1rem;
    }
    .bookingDatesContainer p{
        margin-left: 1.5rem;
        font-size: 0.8rem;
    }
    .buttonContainer{
        margin-left: auto;
    }
    button{
        height: 3rem;
        width: 8rem;
        margin-top: 2.5rem;
        background-color: #e09900;
        border: #c98a02 solid 2px;
        border-radius: 0.5rem;
        margin: 0.5rem;
        &:hover{
            background-color: #ffbc2b;
            cursor: pointer;
            box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.274);
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}

/*Szeméyles adatok*/
.profileDataRow{
    height: 3rem;
    display: flex;
    border-bottom: 1px rgb(49, 49, 49) solid;
    padding-left: 2rem;
    margin: 1rem 1rem 0rem 1rem;
    span{
        margin-left: 5rem;
    }
    input{
        margin-left: 5rem;
        width: 70%;
        background-color: #888;
        height: 2rem;
        border-radius: 0.5rem;
    }
}
/*#endregion Foglalások/Ingatlanok & személyes adatok*/

/*#region Gombok*/
.profileRedBtn{
    background-color: #c24925cc;
    border: #8a2d11 solid 1px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    height: 2rem;
    width: 10rem;
    
    &:hover{
        background-color: #973517;
        cursor: pointer;
        box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.274);
    }
}

.ProfileEditBtn{
    background-color: #df8e2dcc;
    border: #b46c13cc solid 1px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    height: 2rem;
    width: 10rem;
    &:hover{
        background-color: #ec8c16cc;
        cursor: pointer;
        box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.274);
    }
}
/*#endregion Gombok*/

/*#region Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(34, 33, 33);
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}
/*#endregion Scrollbar*/

/*#region Reszponzivitás*/
@media (max-width: 1300px) {
    .profilePicture{
        height: 10rem;
        width: 10rem;
    }
    
    .ProfileUsername{
        font-size: 1.5rem;
    }
    
    .ProfileFullname{
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    .profileContent{
        flex-direction: column;
    }
    
    .profileSide{
        border: none;
        border-bottom: 3px rgb(49, 49, 49) solid;
        width: 100%;
        text-align: center;
        height: 90%;
    }
    
    .profileDetails{
        width: 100%;
        padding: 0;
    }
    
    .profileProperties, .profileData{
        width: 80%;
        margin: auto;
    }
    
    .profileTitle{
        text-align: center;
    }
    
    .logOut{
        display: block;
        margin: 2rem auto;
    }
    
    #profileHeaderTitle{
        font-size: 7rem;
    }
}

/*#endregion Reszponzivitás*/